ul.booktree {
  list-style: none;
  padding: 0;
}
ul.booktree .container {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul.booktree .container.show {
  /*display: block;*/
}
ul.booktree li {
  margin: .5em 0;
}
ul.booktree > li.booktree a {
  color: #fff;
}
ul.booktree > li.booktree {
  width: 100%;
  display: block;
  background: #3a89c9;
  color: #fff;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul.booktree > li.booktree:hover {
  background: rgba(58, 137, 201, 0.75);
}
#block-system-main > div > ul.booktree{
    padding-right: 20px;
}