/* 960 and under */
@media screen and (max-width: 960px) {
   
    /*Fonts*/
    .basic-wrapper h1{
        font-size: 3.4em;
    }
    .basic-wrapper h2{
        font-size: 1.7em;
    }
    /* General rules */
    .center {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .exticons span{
        width: 70%;
    }
    .exticons{
        width: 48%;
    }
    .twocols > *{
        width: 50%;
    }
    .footer-top nav.socials{
        width: 50%;
    }
    div#block-simplenews-10{
        width: 50%;
        margin-left: 0;
    }
    .footer-top nav.socials > div + div{
        margin-left: 0;
    }
    .footer-middle .block{
        width: 45%;
        float: right;
    }
    .footer-middle{
        height: auto;
    }
    .footer-top .center.clearfix, .footer-middle .center.clearfix{
        max-width: 700px;
    }
    .footer-middle .firstblock, .footer-middle .thirdblock{
        float: left;
    }
    .footer-middle .block:first-child{
        margin-left: 20px;
    }
    /* Primary tabs */
    ul.primary li a{
        padding: 0 0.2em;
    }
    .main > ul > li{
        margin-left: 15px;
    }
    #book-outline{
        min-width: 0;
    }

}
/* 768 and under */
@media screen and (max-width: 768px) {
     body { font-size: small; }
/*    .basic-wrapper h1{
        font-size: 3em;
    }
    .basic-wrapper h2{
        text-align: center;
        font-size: 1.3em;
    }*/
    /* Fixed navigation */
    nav.main.fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #333;
        color: #fff;
        margin: 0;
        z-index: 9999;
        font-size: smaller;
    }
    .main.fixed > ul ul, .main.fixed ul.slimmenu li a:hover {
        background: none;
    }
    .main.fixed > ul ul{
        padding-top: 0;
    }
    .sub-collapser{
        display: block;
    }
    /* General rules */
    header#header .center {
        max-width: 95%;
    }

    .center {
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 480px;
    }

    /* Search */
    header .form-item-search-block-form{
        width: 100%;
        overflow: hidden;
    }
    .search{
        width: 100%;
    }
    .search form{
        width: 100%;
    }
    .search input[type='text']{
        width: 100%;
        margin-left: -34px;
        padding-left: 38px;
        float: left;
    }
    .search input[type='submit']{
        float: left;
        margin: -2px 0 0 -1px;
    }
    .search a{
        float: none;
        margin-left: 15%;
        display: inline-block;
        padding: 7px 0;
    }
    /* aside */
    #slider > aside > .center{
        max-width: 95%;
    }
    /* /aside */
    .exticons span{
        width: 70%;
    }
    .exticons{
        width: 100%;
        margin: 20px 0;
    }
    .twocols > *{
        width: 100%;
    }
    .footer-top nav.socials{
        width: 100%;
    }
    div#block-simplenews-10{
        width: 100%;
        margin-left: 0;
    }
    .footer-top nav.socials > div + div{
        margin-left: 20px;
    }
    .footer-middle .block{
        margin: 0 0 0 20px;
        padding: 84px 20px 0 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 440px;
        float: none;
    }
    .footer-middle{
        height: auto;
    }
    .footer-top .center.clearfix, .footer-middle .center.clearfix{
        max-width: 480px;
    }
    .footer-middle .firstblock, .footer-middle .thirdblock{
        /*float: left;*/
    }

    /* Table */
    table{
        margin: auto;
    }
    /* Primary tabs */
    ul.primary li a{
        padding: 0 0.2em;
    }
    /* With sidebar */
    section.sidebars div.block-block, section.sidebars div.block-views{
        width: 100%;
    }
    section.sidebars div.region-content{
        width: 100%;
    }
    /* booktree */
    #block-system-main > div > ul.booktree{
        padding-right: 0;
    }
    /* basic wrapper */
    .basic-wrapper{
        padding: 45px 20px;
    }
    /* Map legend */
    #organization-gmap-canvas{
        height: 460px;
    }
    #markers-legend{
        display: none;
    }
    #filterButton{
        display: block;
        text-align: center;
    }
    .main:after{
        content: none;
    }

    /*slim menu css*/
    .menu-collapser {
        position: relative;
        background-color: transparent;
        color: #FFF;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        /*width: 100%;*/
        width: 150px;
        margin: auto;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
    .collapse-button {
        position: absolute;
        right: 8px;
        top: 50%;
        width: 40px;
        background-color: #0E0E0E;
        background-image: linear-gradient(to bottom, #151515, #040404);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-radius: 4px 4px 4px 4px;
        border-style: solid;
        border-width: 1px;
        color: #FFFFFF;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        font-size: 14px;
        text-align: center;

        transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
    .collapse-button:hover, .collapse-button:focus {
        background-image: none;
        background-color: #040404;
        color: #FFF;
    }
    .collapse-button .icon-bar {
        background-color: #F5F5F5;
        border-radius: 1px 1px 1px 1px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        display: block;
        height: 2px;
        width: 18px;
        margin: 2px 0;
    }

    ul.slimmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    ul.slimmenu li {
        position: relative;
        display: inline-block;
        /* background-color: #AAA;*/
    }
    ul.slimmenu > li { margin-right: -5px; /*border-left: 1px solid #999*/ }
    ul.slimmenu > li:first-child { border-left: 0 }
    ul.slimmenu > li:last-child { margin-right: 0 }
    ul.slimmenu li a {
        display: block;
        /*color: #333;*/
        padding: 2px 64px 9px 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
    }
    ul.slimmenu li a:hover {
        background-color: #216dab;
        text-decoration: none;
    }
    ul.slimmenu li .sub-collapser {
        /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);*/
        position: absolute;
        right: 0;
        top: -5px;
        width: 48px;
        height: 100%;
        text-align: center;
        z-index: 999;
        cursor: pointer;
    }
    ul.slimmenu li .sub-collapser:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    ul.slimmenu li .sub-collapser > i {
        color: #fff;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
    }
    ul.slimmenu li ul {
        margin: 0;
        list-style-type: none;
    }
    /*ul.slimmenu li ul li { background-color: #BBB }*/
    ul.slimmenu li > ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 999;
        width: 100%;
    }
    ul.slimmenu li > ul > li ul {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 999;
        width: 100%;
    }

    ul.slimmenu.collapsed li {
        display: block;
        width: 100%;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
    ul.slimmenu.collapsed li a {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
    ul.slimmenu.collapsed li .sub-collapser {
        height: 40px;
    }
    ul.slimmenu.collapsed li > ul {
        display: none;
        position: static;
    }
    /*end slim menu css*/

    /*Responsive Menu display */ 
    nav.main{
        margin-top: 20px;
        float: none;
        position: relative;
        clear: both;
    }
    .main > ul li.hassub ul {
        opacity: 1;
        visibility: visible;
    }
    .main > ul#navigation > li {
        margin-left: 0;
    }
    .main > ul .opened > ul {
        margin-left: 0;
    }
    /* Primary tabs */
    ul.primary,ul.secondary{
        border: none;
        padding: 0;
        white-space: normal;
    }
    ul.primary li a,ul.secondary li a {
        background: none;
        border: none;
        padding: 7px;
    }
    ul.primary li.active a,ul.secondary li.active a{
        border: none;
    }
    ul.primary li,ul.secondary li{
        display: block;
        background: none;
        border: none;
        padding: 8px 0;
        margin: 4px 0;
        text-align: center;
    }
    ul.primary li.active a,ul.secondary li.active a{
        background: none;
    }
    .listing .menu-collapser{
        width: 50px;
    }
    table.waterstyle th {
        padding:5px 7px 7px 7px;
    }
    table.waterstyle tr td {
        padding:4px;
    }
    table.waterstyle tr{
        padding-left:5px;
    }
    table.waterstyle th:first-child{
        padding-left:5px;
    }
    table.waterstyle tr td:first-child{
        padding-left: 5px;
    }
    /* Vertical tabs styling */
    div.vertical-tabs{
        margin: auto;
        border: 1px solid #ccc;
        position: relative;
    }
    .vertical-tabs ul.vertical-tabs-list{
        width: auto;
        list-style: none;
        list-style-image: none;
        border-top: 1px solid #ccc;
        padding: 0;
        position: relative;
        margin: 0;
        float: none; 
    }
    .vertical-tabs fieldset.vertical-tabs-pane{
        margin-top: 15px;
        /*    border: 1px solid #000;*/
        outline:1px dotted #f26c4f;
    }

}

@media screen and (max-width: 480px) {
    .basic-wrapper h1{
        font-size: 2.7em;
    }
    /* General rules */
    /*header#header .center {
        max-width: 98%;
        }*/

    .center {
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
    }
    /* Search */
    .search a{
        float: none;
        margin-left: 10%;
        display: inline-block;
        padding: 7px 0;
    }
    /* aside */
    #slider > aside > .center{
        max-width: 95%;
    }
    /* /aside */
    .exticons span{
        width: 70%;
    }
    .exticons{
        width: 100%;
        margin: 20px 0;
    }
    .twocols > *{
        width: 100%;
    }
    .footer-top nav.socials{
        width: 100%;
    }
    div#block-simplenews-10{
        width: 100%;
        margin-left: 0;
    }
    .footer-top nav.socials > div + div{
        margin-left: 0px;
    }
    .footer-middle .block{
        /*width: 100%;
        float: left;*/
        margin: auto;
        padding: 84px 5px 0 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 300px;
        float: none;
    }
    .footer-middle .block:first-child{
        margin-left: auto;
    }
    .footer-middle{
        height: auto;
    }
    .footer-top .center.clearfix, .footer-middle .center.clearfix{
        max-width: 300px;
    }
    .footer-middle .firstblock, .footer-middle .thirdblock{
        /*float: left;*/
    }
    .logo{
        float: none;
        margin: 0 auto 20px;
    }
    .topnav{
        max-width: 150px;
        margin: auto;
        height: auto;
    }
    #block-views-welcome-block-block{
        float: none;
        clear: both;
        width: 300px;
        left: -75px;
        position: relative;
    }
    nav.topnav a.ir{
        margin-bottom: 10px;
    }
    /* Form elements */
    .form-type-radio .description, .form-type-checkbox .description{
        margin-left: 0; 
    }
    label,label.option{
        display: block;
        margin-left:0;
        max-width: 80%;
    }
    table.field-multiple-table input.form-autocomplete{
        max-width: 280px;
    }
    #organization-gmap-canvas{
        height: 375px;
    }
    .page-persons #blocks{
        padding: 20px 4px;; 
    }
    table.waterstyle th{
        padding: 5px 4px 7px 4px;
    }
    table.waterstyle tr td{
        padding: 4px;
    }
    /* cols */
    .cols .colspan1, .cols .colspan2,
    .cols .colspan3, .cols .colspan4,
    .cols .colspan5, .cols .colspan6, 
    .cols .colspan7, .cols .colspan8, 
    .cols .colspan9, .cols .colspan10,
    .cols .colspan11, .cols .colspan12{
        width: 100%;
    }
    #topWrapper{
        width: 100%;
        overflow-x: hidden;
    }

}

@media screen and (max-width: 385px) {
    /* General rules */
    .search a{
        display: block;
        margin: auto;
        clear: both;
        text-align: center;
    }
    .footer-middle .block{

        max-width: 250px;

    }
    #topWrapper{
        width: 100%;
        overflow-x: hidden;
    }
}