#logout{
   /* margin-left: 5px;*/
}

.topnav form {
    float: right;
    margin-left: 5px;
}

.search form{
    float: left;    
}
.search .form-item, 
.search .form-actions{
    margin: 0;    
}

.search input[type='submit']{
    height: 50px;
    width: 34px;
    background: #9cc4e4 url(../img/sprite.png) 0px -34px no-repeat;
    padding:0;
    border: none;
    border-radius: 0;
}
.search input[type='submit']:hover{
    background: #9cc4e4 url(../img/sprite.png) 0px -34px no-repeat;
}

.search input[type='text']{
    width: 300px;
    background: #9cc4e4 none;
    padding-right: 0;
    border:none;
    border-radius: 0;
    box-shadow: none;
}

.not-logged-in .topnav #login {
    margin-left: 35px;
}

/*.not-logged-in .main{
    margin-bottom: 58px;
}
nav.main{
    min-width: 625px;
}*/

.topnav{
    float:none;
}

.main .active > a.subtrigger{
    color:#FFF;
}

#slider aside h2{
    width: 150px;
}

#slider aside{
    height: auto;
    min-height: 220px;
    max-height: 560px;
    overflow: hidden;
}

/*#slider{
    height: 400px; 
}
#slides .slide{
    height: 400px;
}*/
.basic-wrapper h1{
    line-height: 48px;
}
.basic-wrapper .content,
.basic-wrapper .field-item{
    /*font-weight: 800;
    font-style: italic;*/
    margin: 0;
}
.footer-top{
    height: inherit;
}
.footer-top nav.socials{
    /*width: inherit;*/
    width:500px;
}
.footer-top nav.socials > div{
    float: left;
}
.footer-top nav.socials > div + div{
    margin-left: 20px;
}
.footer-top > div > div.block-simplenews{
    float: right;
}
.footer-middle .block.thirdblock {
    background: url(../img/sprite.png) -150px -903px no-repeat;
}
.footer-middle .block.secondblock {
    background: url(../img/sprite.png) -133px -1103px no-repeat;
}
.block-simplenews .content{
    color:#FFF;
}
.block-simplenews .content p{
    font-size: 28px;
    font-weight: normal;
    margin-top: 0;
}
#filedepotmodule *,
#filedepotmodule *:before,
#filedepotmodule *:after{
    box-sizing: initial;
}
.filedepottoolbar_searchbox{
    width: 350px;
    top:1px;
}

#organization-gmap-canvas{
    width: 100%;
    height: 600px;
}
.page-node .field-name-field-city{
    display: none;
}
.page-node-edit .field-name-field-city{
    display: inherit;
}

section.sidebars div.region-content{
    float:left;
    width:75%;
}
section.sidebars div.block-block,
section.sidebars div.block-views,
section.sidebars div.block-addthis{
    float:left;
    width:25%;
    padding:5px;
}

#markers-legend{
    padding: 2px;
    background-color: #666;
    font-weight: bold;
    border: 1px solid #000;
    width:230px;
}
#markers-legend div + div{
    margin-top:5px;
}

#markers-legend h3{
 color: #ffff00;
}

a.filter-elm {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: relative;
    /*border-top:1px solid #4d4d4d;*/
    color: #fff;
}
h3 + .outer > .inner > a {
    background-color: #666;
    /*padding-left: 10px;*/
}
h4 + .outer > .inner > a {
    background-color: #666;
    padding-left: 20px;
}
h5 + .outer > .inner > a {
    background-color: #808080;
    padding-left: 30px;
}


/* CHECKS */
a.check {
    background-image:url(../img/sprite_nas.png);
    background-position: 210px -446px;
    background-repeat: no-repeat;
}
a.check.withgreen {
    background-position: 210px -472px;
}
/* Changes related to responsive */
/* Map filters */
#filterButton{
        display: none;
    }
    #filterButton a {
        padding: 6px;
        background: #666;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
/* Responsive menu sub-collapser */
.sub-collapser{
    display: none;
}
/*
Tables Style
------------------------------------------------------------------ */
table.waterstyle th a {
	color: #fff;
	text-decoration:none;
}

table.waterstyle {

}
table.waterstyle th {
	padding:15px;
	border:none;
	color:#fff;
        text-align: center;
	background: #2474b4;
	background: -webkit-gradient(linear, left top, left bottom, from(#2474b4), to(#3a89c9));
	background: -moz-linear-gradient(top,  #2474b4,  #3a89c9);
}
table.waterstyle th:first-child{
	text-align: left;
	padding-left:15px;
}
table.waterstyle tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.waterstyle tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.waterstyle tr{
	text-align: center;
	padding-left:8px;
}
table.waterstyle tr td:first-child{
	text-align: left;
	padding-left:8px;
	border-left: 0;
}
table.waterstyle tr td {
	padding:15px;
	border: none;
	
	background: #fff;
	
}
table.waterstyle tr.even td{
	background: #DFF1FF;
	
}
table.waterstyle tr.even,table.waterstyle tr.odd {
    border-bottom: 1px solid #A8CEEC;
}
table.waterstyle tr:last-child td{
	border-bottom:0;
}
section.sidebars table.waterstyle {
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
}
table.s-table{
    max-width: 100%;
    width: auto;
}
/*---------------------------- end table style */
/* Nice forms */
input[type="submit"] {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
    background: #2474b4;
    margin-right: 1.2em;
}
input[type="submit"]:hover{
 background:#3a89c9;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input[type=date], form input[type=month], form input[type=time], form input[type=datetime], form input[type=datetime-local], form input[type=week], form input[type=number], form input[type=search], form input[type=tel], form input[type=color], form select, form textarea{
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    max-width: 100%;
}
.password-strength{
    float: none;
    display: block;
    max-width: 100%;
}
.confirm-parent, .password-parent{
    max-width: 100%;
}
.chosen-container,.form-item .description{
    max-width: 100%;
}
html.js input.form-autocomplete{
    background-position: 100% 10px;  
}
html.js input.throbbing{
    background-position: 100% -11px; 
}
table.field-multiple-table input.form-autocomplete{
max-width: 90%;
    width: 100%;
}
/* Person profile */
.person-photo-container{
    text-align: center;
}
img.person-photo{
    width: auto;
    max-width: 100%;
    padding: 10px;
    border: 5px solid #3A89C9;
    border-radius: 5px;
}
div.mail-person{
    margin: 10px 0;
}
div.print-person > span, div.mail-person{
    text-align: center;
}
/* Columns */
.cols {
    position: relative;
    overflow: hidden;
}
.cols .col{
    position: relative;
    float: left;
    padding: 0 20px;
}
.cols .colspan1{
    width: 8.33%;
}
.cols .colspan2{
    width: 16.66%;
}
.cols .colspan3{
    width: 25%;
}
.cols .colspan4{
    width: 33.33%;
}
.cols .colspan5{
    width: 41.66%;
}
.cols .colspan6{
    width: 50%;
}
.cols .colspan7{
    width: 58.33%;
}
.cols .colspan8{
    width: 66.66%;
}
.cols .colspan9{
    width: 75%;
}
.cols .colspan10{
    width: 83.33%;
}
.cols .colspan11{
    width: 91.66%;
}
.cols .colspan12{
    width: 100%;
}
/* Ul align */
ul{
    list-style-position: inside;
}

.view-taxonomy-term .node-person {
    margin-bottom: 15px;
}
/* block 17 help popup */
#block-block-17{
    position: fixed;
    left: 100%;
    top: 50%;  
}
#block-block-17 a{ 
    background: #E3654A;
    padding: 5px;
    border: 2px solid white;
    border-top: none;
    font-weight: bold;
    color: white !important;
    display: block;
    white-space: nowrap;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    width: auto;
    height: auto;
    display: inline-block;
}
/* Invisible labels */
label.element-invisible {
    display: none;
}

/* Large images */
.node-type-article img,.node-type-book img{
    width: auto;
    max-width: 100%;
    height: auto;
}

.node-type-book .node-book-image img{
    border: 1px solid #ccc;
    padding: 3px;
}
/* Biblio search */
html.js #biblio-search-form fieldset.collapsed{
    height: auto;
}
/* Article type */
.node-article .content{
    padding-right: 10px;
}